/*----------Nav Bar---------*/
header{
	background-color: #000;	
}
.fixed-nav-bar {
	  position: fixed;
	  z-index: 9999;
	  width: 100%;
	}
	
	.nav_bar
	{ 	
		background-color:black;
		list-style:none;
		text-align:center;
		width:170%;
		margin-left:-40%;
		position:relative;
		padding:1%;
    } 
		#logo
	{
		display:inline-block;
		margin-top:-0.7%;
		margin-left:-8%;
		position:absolute;

	}
	
	.dropdown {
	position: absolute;
	display: inline-block;
	color:white;
	
	}

	.dropdown  {
	  font-size: 20px;  
	  border: none;
	  outline: none;
	  color: white;
	  background-color: black;
	  margin-left:-6%;
	  margin-top:0%;
	  position:absolute;
	  font-weight:bold;
	  padding:5%;
	  
	}

	.dropdown:hover{
	  
	  color:gray;

	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: black;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	  margin-top:10%;
	  margin-left:-40%;
		padding:5%;
	}

	.dropdown-content a {
	  color: white;
	  text-decoration: none;
	  display: block;
	  text-align: left;
		font-size:15px;
	}

	.dropdown-content a:hover {
	  background-color: black;
	  text-decoration: none;
	  color:gray;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	  text-decoration: none;
	}
	.nav_bar li 
	{
		display:inline-block;
		padding:0.2% 2% 0.8% 2%;
		font-size:18px;
		font-weight:bold;

	}
	
    .nav_bar li a 
	{ 
		color:white; 
		text-decoration: none; 
    } 
    .nav_bar a:hover { 
        
        color: gray; 
		
    } 
	.icon{display:none;}

/*---------------Nav Bar Ends--------------------*/

body { 
	background:url("../Location/boi.jpg");
	background-size: cover; 
} 



#location {
	padding-left:600px;
}

/*------------Animation----------------*/
.container{ 
	letter-spacing: 5px; 
	position: relative; 
	animation: text 3s 1; 
	text-align: center; 
}

.container h1 {
	font-size:50px;
	color:white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-top: 4%;
	margin-top:5%;
	
}
@keyframes text { 
	0%{ 
		color: black; 
		margin-bottom: -40px; 
		
	} 
	30%{ 
		letter-spacing: 25px; 

		
	} 
	85%{ 
		letter-spacing: 3px; 	

		
	} 

} 
/*----------Animation Ends------------*/

.address h2{
	font-size:30px;
	color:white;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	padding-left: 12%;
	padding-right:6%;
	padding-top:30px;
	
	
	
}

.location_map { 
	width:90%;
	padding: 40px 40px;
	margin-left:5%;
	height: 600px;

}
/*back to top*/
html{
	scroll-behavior:smooth;
}

#myBtn {
display: none;
position: fixed;
bottom: 7%;
right: 3%;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
color: white;
cursor: pointer;
padding: 1%;
border-radius: 4px;
}

/*footer starts here*/

	
.fa{
	padding: 20px 9px 2px 5px;
	color:white;
	margin-left:5%;
}

.page-footer
{
background:#232323;
color:white;
font-size:34px;
font-family: "Assistant";
padding: 2%;
}
.page-footer li{
	color:white;
	list-style:none;
	font-size:17px;
}
.contacts li
{
	list-style:none;
	padding-top: 4%;
	margin-right:10%;
}

.heading{
	border-top:2px solid white;
	border-bottom: 2px solid white;
	margin-left:10%;
	font-size: 20px;
	margin-right:5%;
	padding-bottom:2%;
	padding-top:2%;
	
}
.footer-copyright{
padding-top: 4%;
	font-size:12px;
	text-align:center;
}
#logoDes
{
	text-align:center; 
	font-size:11px; 
	margin-left:1%;
	padding-top:6%;
}

/* Enquiry */ 
*{ 
	margin: 0; 
	padding: 0; 
} 
.parallax {
	/* The image used */
	background-image: url("../Location/re.jpg");
	  
	/* Set a specific height */
	min-height: 500px; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-section{ 
	
	padding: 40px 0; 
} 

.contact-section h1{ 
	text-align: center; 
	color: #FFFFFF; 
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	
} 

.contact-form{ 
	max-width: 600px; 
	margin: auto; 
	padding: 0px 10px; 
	overflow: hidden; 
	opacity: 0.88; 
	
} 

.contact-form-text{ 
	display: block; 
	width: 100%; 
	box-sizing: border-box; 
	margin: 16px 0; 
	border: 0;
	border-radius: 6px; 
	background: #FFFFFF; 
	padding: 20px 40px; 
	outline: none; 
	color: #000000; 
	transition: 0.5s;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
} 
.contact-form-text:focus{ 
	box-shadow: 0 0 10px 4px #34495e; 
} 

textarea.contact-form-text{ 
	resize: none; 
	height: 120px; 
} 

.contact-form-btn{ 
	
	border: 0; 
	background: #393030; 
	color: #fff; 
	padding: 12px 50px; 
	border-radius: 20px; 
	cursor: pointer; 
	transition: 0.5s; 
	margin-left: 39%; 
} 

.contact-form-btn:hover{ 
	background: #000000; 
} 

@media only screen and (max-width: 768px){
	
	.icon{
	margin-left: 90%;
	margin-top:-11%;
	display: block;
	}
	
	.nav_bar
	{
		padding:6%;

	}
	.nav_bar li
	{
		display:none;
	}
	
	.location_map {margin-bottom:2%; padding-left:8%;  } 
	.contacts{margin-left:8%;padding-top:1.0rem;}
	.hours li {padding-top:1.0rem;}
	.address h2{padding-left: 15%; padding-right: 13%; } 
	.container{ padding-bottom: 2%;} 
	.container h1{margin-top:17%;}
	
	
	/*footer*/
	#footer_contacts {margin-right:4%;}
	#footer_hours {margin-right:4%;}
	.fa{margin-right: -1%;}
	.contacts{margin-left:8%;padding-top:1.0rem;}
	.hours li {margin-left:2%; padding-top: 1.0rem;}
	

}