body{
	margin:0;
	padding:0;
	font-family: monospace;
	background: url(../LogIn/table.png);
	background-size: 100%;

}

.fixed-nav-bar {
	  position: fixed;
	  z-index: 9999;
	  width: 100%;
	}
	
	.nav_bar
	{ 	
		background-color:black;
		list-style:none;
		text-align:center;
		width:170%;
		margin-left:-40%;
		margin-top:-10.5%;
		position:relative;
		padding:1%;
    } 
		#logo
	{
		display:inline-block;
		margin-top:-0.7%;
		margin-left:-8%;
		position:absolute;

	}
	
	.dropdown {
	position: absolute;
	display: inline-block;
	color:white;
	
	}

	.dropdown  {
	  font-size: 20px;  
	  border: none;
	  outline: none;
	  color: white;
	  background-color: black;
	  margin-left:-6%;
	  margin-top:0%;
	  position:absolute;
	  font-weight:bold;
	  padding:5%;
	  
	}

	.dropdown:hover{
	  
	  color:gray;

	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: black;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	  margin-top:10%;
	  margin-left:-40%;
		padding:5%;
	}

	.dropdown-content a {
	  color: white;
	  text-decoration: none;
	  display: block;
	  text-align: left;
		font-size:15px;
	}

	.dropdown-content a:hover {
	  background-color: black;
	  text-decoration: none;
	  color:gray;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	  text-decoration: none;
	}
	.nav_bar li 
	{
		display:inline-block;
		padding:0.2% 2% 0.8% 2%;
		font-size:18px;
		font-weight:bold;

	}
	
    .nav_bar li a 
	{ 
		color:white; 
		text-decoration: none; 
    } 
    .nav_bar a:hover { 
        
        color: gray; 
		
    } 
	.icon{display:none;}



.wrap{
	max-width: 30%;
	border-radius: 5%;
	margin:auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 18% 16.5%;
	color: black;
	margin-top: 10.5%;
	background-color: #fff;
	opacity: 0.75;
}

.login-box{
	width: 19%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1{
	float: up;
	font-size: 40px;
	border-bottom: 2px solid;
	margin-bottom: 23.5%;
	padding: 3% 0;
	
}
.textbox{
	width: 100%;
	overflow: hidden;
	font-size: 25px;
	padding: 2% 0	;
	margin: 5% 0;
	border-bottom: 2px solid;
	
}
.textbox i{
	padding: 0px 0px;
	width: 2%;
	float: left;
	text-align: center;
	
	
}
.textbox input{
	color: black;
	border: none;
	outline: none;
	background:none;
	font-size: 18px;
	width: 100%;
	float: left;
	margin: 0 1.5%;
	font-family: monospace;
	font-weight: bold;
	
		
}
	
.link{
	width: 100%;
	position:absolute;
}

/*----------BTN--------*/
input[type=submit]{
	position: absolute;
	top: 130%;
	left:50%;
	transform: translate(-50%,-50%); 
	background:none;
	color: #000;
	width: 100%;
	padding: 2%;
	border: 2px solid black;
	font-size: 18px;
	transition: .6s;
	overflow: hidden;
	background-color: white;
}


input[type=submit]:focus{
	outline: none;
}

input[type=submit]:before{
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.5);
	width: 6%;
	height: 100%;
	left: 0;
	top: 0;
	opacity:.5;
	filter: blur(30px);
	transform: translateX(-130px) skewX(-15deg);
	
	
}
	
input[type=submit]:after{
	
	content: '';
	display: block;
	position: absolute;
	background: rgba(255,255,255,.2);
	width: 30px;
	height: 100%;
	left: 30px;
	top: 0;
	opacity: 0;
	filter: blur(30px);
	transform: translateX(-100px) scaleX(-15deg);	
	
}
input[type=submit]:hover{
	background: black;
	cursor: pointer;
	color: white;
	
}


input[type=submit]:hover:before{
	transform: translatex(300px) skewx(-15deg);
	opacity: .6;
	transition: .7s;
	
}
input[type=submit]:hover:after{
	
	transform: translatex(300px) skewx(-15deg);
	opacity: 1;
	transition: .7s;
}
	
	/*----------BTN Ends----------*/


/*------------------Footer-------------------------*/

.fa{
	padding: 20px 9px 2px 5px;
	color:white;
	margin-left:5%;
}

.page-footer
{
background:#232323;
color:white;
font-size:34px;
font-family: "Assistant";
padding:3%;

}
.page-footer li{
	color:white;
	list-style:none;
	font-size:17px;
}
.contacts li
{
	list-style:none;
	padding-top: 4%;
	margin-right:10%;
}

.heading {
	border-top:2px solid white;
	border-bottom: 2px solid white;
	margin-left:10%;
	font-size: 60%;
	margin-right:5%;
	padding-bottom:2%;
	padding-top:2%;
	margin-top:-2%;
}
.footer-copyright{
	padding-top: 4%;
	font-size:12px;
	text-align:center;
	
}
#logoDes
{
	text-align:center; 
	font-size:11px; 
	margin-left:1%;
	padding-top:6%;
}

@media only screen and (max-width: 768px){
	/**responsive page layout**/
	
	.wrap{
	max-width: 50%;
	border-radius: 5%;
	margin:auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 30% 16.5%;
	color: black;
	margin-top: 10.5%;
	background-color: #fff;
	opacity: 0.75;
}

.login-box{
	width: 30%;
	position: absolute;
	top: 31%;
	left: 43%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1{
	float: up;
	font-size: 40px;
	border-bottom: 2px solid;
	margin-bottom: 23.5%;
	padding: 3% 0;
	
}
.textbox{
	width: 150%;
	overflow: hidden;
	font-size: 25px;
	padding: 2% 0	;
	margin: 5% 0;
	border-bottom: 2px solid;
}
input[type=submit]{
	position: absolute;
	top: 140%;
	left:70%;
	transform: translate(-50%,-50%); 
	background:none;
	color: #000;
	width: 100%;
	padding: 2%;
	border: 2px solid black;
	font-size: 18px;
	transition: .6s;
	overflow: hidden;
	background-color: white;
}	
	

.icon{
	margin-left: 90%;
	margin-top:-11%;
	display: block;
	}
	
	.nav_bar
	{
		padding:6%;
		margin-top:-13.5%;
	}
	.nav_bar li
	{
		display:none;
	}
	
	/**content**/

.first
{
padding-left: 30%;
}

.first h4
{
padding-left: 10%;
}

.first p 
{
	padding-left: 10%;
}

.second
{
padding-left: 30%;
}

.second h4
{
padding-left: 10%;
margin-top: -12%;
}

.second p 
{
	padding-left: 10%;
	padding-bottom: 8%;
}

.third
{
padding-left: 30%;
}

.third h4
{
padding-left: 10%;
}

.third p 
{
	padding-left: 10%;
}

.fourth
{
padding-left: 30%;
}

.fourth h4
{
padding-left: 10%;
margin-top: -12%;
}

.fourth p 
{
	padding-left: 10%;
	padding-bottom: 8%;
}



@media only screen and (max-width: 500px){
	/**responsive page layout**/
	
	.wrap{
	max-width: 80%;
	border-radius: 6%;
	margin:auto;
	background: rgba(0,0,0,0.8);
	box-sizing: border-box;
	padding: 45% 16.5%;
	color: black;
	margin-top: 10.5%;
	background-color: #fff;
	opacity: 0.75;
}

.login-box{
	width: 30%;
	position: absolute;
	top: 25%;
	left: 40%;
	transform: translate(-50%,-50%);
	color: black;
}
.login-box h1{
	float: up;
	font-size: 40px;
	border-bottom: 2px solid;
	margin-bottom: 23.5%;
	padding: 2% 0;
	
}
.textbox{
	width: 180%;
	overflow: hidden;
	font-size: 25px;
	padding: 5% 0	;
	margin: 5% 0;
	border-bottom: 2px solid;
}
input[type=submit]{
	position: absolute;
	top: 150%;
	left:80%;
	transform: translate(-50%,-50%); 
	background:none;
	color: #000;
	width: 100%;
	padding: 2%;
	border: 2px solid black;
	font-size: 18px;
	transition: .6s;
	overflow: hidden;
	background-color: white;
}	

	/*footer*/
	#footer_contacts {margin-right:4%;}
	#footer_hours {margin-right:4%;}
	.fa{margin-right: -1%;}
	.contacts{margin-left:8%;padding-top:1.0rem;}
	.hours li {margin-left:2%; padding-top: 1.0rem;}
}

