body
	{
		font-size:100%;
		overflow-x:hidden;
	}

	.fixed-nav-bar {
	  position: fixed;
	  z-index: 9999;
	  width: 100%;
	}
	
	.nav_bar
	{ 	
		background-color:black;
		list-style:none;
		text-align:center;
		width:170%;
		margin-left:-40%;
		position:relative;
		padding:1%;
    } 
		#logo
	{
		display:inline-block;
		margin-top:-0.7%;
		margin-left:-8%;
		position:absolute;

	}
	
	.dropdown {
	position: absolute;
	display: inline-block;
	color:white;
	
	}

	.dropdown  {
	  font-size: 20px;  
	  border: none;
	  outline: none;
	  color: white;
	  background-color: black;
	  margin-left:-6%;
	  margin-top:0%;
	  position:absolute;
	  font-weight:bold;
	  padding:5%;
	  
	}

	.dropdown:hover{
	  
	  color:gray;

	}

	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: black;
	  min-width: 160px;
	  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  z-index: 1;
	  margin-top:10%;
	  margin-left:-35%;
		padding:5%;
	}

	.dropdown-content a {
	  color: white;
	  text-decoration: none;
	  display: block;
	  text-align: left;
		font-size:15px;
	}

	.dropdown-content a:hover {
	  background-color: black;
	  text-decoration: none;
	  color:gray;
	}

	.dropdown:hover .dropdown-content {
	  display: block;
	  text-decoration: none;
	}
	.nav_bar li 
	{
		display:inline-block;
		padding:0.2% 2% 0.8% 2%;
		font-size:18px;
		font-weight:bold;

	}
	
    .nav_bar li a 
	{ 
		color:white; 
		text-decoration: none; 
    } 
    .nav_bar a:hover { 
        
        color: gray; 
		
    } 
	.icon{display:none;}
	.img
	{

		position:relative;
		
	}

         
         @keyframes fadeIn {
            0% {opacity: 0;}
            100% {opacity: 1;}
         }
         
         .fadeIn {
            animation-name: fadeIn;
         }
	.title
	{
		margin-top:-35%;
		margin-left:37%;
		position:absolute;
		color:white;
        animation-duration: 3s;
        animation-fill-mode: both;
		font-family:'Galada', cursive;
		
	}
	.title h1
	{
		font-size:80px;
	}
	
	html{
		scroll-behavior:smooth;
	}
	

	.btn1{
		position:absolute;
		top:60%;
		left:49.5%;
		transform:translate(-50%,-50%);
	}
	.btn1 span
	{display:block;
	width:20px;
	height:15px;
	border-bottom:3px solid white;
	border-right:3px solid white;
	transform:rotate(45deg);
	animation:animate 2s infinite;	
	padding:20px;
	}
	
	.btn1 span:nth-child(2)
	{
		animation-delay:-0.2s;
		transform:rotate(45deg) translate(-20px,-20px);
	}
		.btn1 span:nth-child(3)
	{
		animation-delay:-0.4s;
	}
	
	@keyframes animate{
		0%
		{
			opacity:0;
			transform:rotate(45deg) translate(-20px,-20px);
		}
		50%
		{
			opacity:1;
		}
		100%
		{opacity:0;
		transform:rotate(45deg) translate(20px,20px);
		}
	}
	#time
	{
		margin-top:4%;
		margin-left:25%;
	}
	#note
	{
		margin-left:55%;
		margin-top:-12.4%;
	}
	
	
	.containerimg
	{
		margin:2% -2% 0% -3%;
		position:relative;
		background-repeat:no-repeat;
		background-image: url("../image_booking/dog.jpg");
		background-size:100%;
	}
		.box
	{
		position:absolute;
		margin-left:6%;
		margin-top:2%;
	}
	
	.container1
	{
		position:absolute;
		width:50%;
		margin-left:34%;
	}

	.button {
	  background-color:gray;
	  border: none;
	  color: white;
	  padding: 16px 32px;
	  text-align: center;
	  font-size: 16px;
	  transition: 0.3s;
	  display: inline-block;
	  text-decoration: none;
	  cursor: pointer;
		margin:23% 10% 10% 38%;
		border-radius:10px;
		}

	.button:hover {opacity:0.6}
	
	/**Footer starts here**/


.fa{
	padding: 20px 9px 2px 5px;
	color:white;
	margin-left:5%;
}

.page-footer
{
background:#232323;
color:white;
font-size:34px;
font-family: "Assistant";
padding: 2%;
}
.page-footer li{
	color:white;
	list-style:none;
	font-size:17px;
}
.contacts li
{
	list-style:none;
	padding-top: 4%;
	margin-right:10%;
}

.heading{
	border-top:2px solid white;
	border-bottom: 2px solid white;
	margin-left:10%;
	font-size: 20px;
	margin-right:5%;
	padding-bottom:2%;
	padding-top:2%;
	
}
.footer-copyright{
	padding-top: 4%;
	font-size:12px;
	text-align:center;
}
#logoDes
{
	text-align:center; 
	font-size:11px; 
	margin-left:1%;
	padding-top:6%;
}
/**Footer ends here**/

/**reponsive page page layout**/
/**-----------------------------------------------------**/

 @media only screen and (max-width: 768px){


	.icon{
	margin-left: 90%;
	margin-top:-11%;
	margin-bottom:2%;
	display: block;
	}
	
	.nav_bar
	{
		padding:6%;

	}
	.nav_bar li
	{
		display:none;
	}

	.title
	{
		margin-top:-65%;
		margin-left:22%;
	}
	
	#time
	{
		margin-top:10%;
		margin-left:5%;
	}
	#note
	{
		margin-top:-25%;
	}
	
	.box
	{
		margin-top:7%;
	}
	
	.container1
	{
		margin-top:4%;
		margin-left:60%;
		width:32%;

	}
	
	.containerimg
	{
		background-image:url("../image_booking/corgi.jpg");
		margin-bottom:0%;
	}
	.button
	{
		margin-top:120%;
		margin-left:0%;
		width:100%;
	}
	

	/*footer*/
	#footer_contacts {margin-right:4%;}
	#footer_hours {margin-right:4%;}
	.fa{margin-right: -1%;}
	.contacts{margin-left:8%;padding-top:1.0rem;}
	.hours li {margin-left:2%; padding-top: 1.0rem;}
	
	
 }